import json
import os
import pytest
import sys

from python_solutions import <SOLUTION_NAME> as sol
# TODO: uncomment for helpers
# from python_solutions.util import linked_list, tree

data = []

print(os.listdir())
with open("<DATA_NAME>",) as f:
    arr = json.load(f)
    data = [tuple(row) for row in arr]

@pytest.mark.parametrize("first, second, expected", data)
def test_nominal(first, second, expected):
    assert sol.solve(first, second) == expected


if __name__ == "__main__":
    sys.exit(pytest.main([__file__, "--color=yes"]))
